<!DOCTYPE html>

<head>
  <script src="angular.min.js"></script>
  <script>
    function guid() {
      function s4() {
        return Math.floor((1 + Math.random()) * 0x10000)
          .toString(16)
          .substring(1);
      }
      return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
        s4() + '-' + s4() + s4() + s4();
    }

    
    angular.module('registerRooms', [])
    .controller('mainController', ['$scope', function($scope) {
      $scope.rooms = [];
      $scope.room = {};
      $scope.isloading = false;
      
      $scope.register = function(){
         navigator.geolocation.getCurrentPosition(function(position) {
          console.log(position.coords.latitude + " , " + position.coords.longitude);
          $scope.$apply(function(){
            $scope.rooms.push({
                id:guid(),
                name:$scope.room.name,
                floor:$scope.room.floor,
                lat:position.coords.latitude,
                lon:position.coords.longitude
              }
            );
            $scope.isloading = true;
          });
        });
      }

      
  }]);
</script>
  <style>
    .error {
      color: red;
      border: solid 1px red;
      padding: 5px;
    }
  </style>
</head>
<html>

<body>
  <div id="loc"></div>

  <fieldset data-ng-app="registerRooms">
    <legend>Register Room</legend>
    <div data-ng-controller="mainController">
      <form name="form" class="css-form" novalidate>
        Name:
        <input type="text" data-ng-model="room.name" name="rName" required="" />
        <br />
        <div data-ng-show="form.$submitted || form.rName.$touched">
          <div class="error" data-ng-show="form.rName.$error.required">without name i do not register anything OK!!!!.</div>
        </div>
        floor:
        <br />
        <input type="radio" name="rfloor" data-ng-model="room.floor" value="1" data-ng-required="!room.floor" />firts
        <input type="radio" name="rfloor" data-ng-model="room.floor" value="2" data-ng-required="!room.floor" />second
        <br />
        <div data-ng-show="form.$submitted || form.rfloor.$touched">
          <div class="error" data-ng-show="form.rfloor.$error.required">without a floor i do not work!!!!.</div>
        </div>
        <div data-ng-hide="isloading">
          <input type="submit" data-ng-click="register(room)" value="Save" />
        </div>
        <div data-ng-show="isloading">
          <img src="loading.gif"/>
        </div>
      </form>
      <pre>{{rooms | json}}</pre>
    </div>
  </fieldset>
</body>

</html>